body {
    background-color: blue;
    color: yellow
}

h1 {
    color:rgb(252, 14, 172)
}
h2 {
    color:white
}

h3 {
    color:black
}

h4 {
    color:red
}

.header {
    color: azure;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 38px;
    padding: 20px;
    background-color: yellowgreen;
}
.img-small {
    width: 50px;
    height: 50px;
}

.img-big {
    width: 100px;
    height: 100px;
}
a {
    color: yellow;
    text-decoration: none;
}